h1: a(href='/') Cho-Ching's Blog
ul.Menu
  li
    a(href='/') Posts
  li
    a(href='/pages/Bookmarks.html') Bookmarks
  li
    a(href='/pages/English.html') English
  li
    a(href='/pages/About.html') About


