extends ./Html.jade

block main
  .Main!= content
    #disqus_thread
    h3.back: a(href='/') << 回到文章列表
  script(type='text/javascript').
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'luchoching';
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  noscript
    Please enable JavaScript to view the 
    a(href='https://disqus.com/?ref_noscript', rel='nofollow') comments powered by Disqus`

