// http://www.google.com/design/spec/style/color.html#color-color-palette
@import 'normalize';
@import 'palette';

@font-face {
  font-family: "Noto Sans CJK Regular";
  src: url(../fonts/NotoSansCJKtc-Regular.otf) format('otf');
}

body {
  font-family: "Noto Sans CJK Regular", sans-serif;
  line-height: 1.5em;
  color: palette(Blue Grey, 900);
}

pre {
  padding: 1em;
  background-color: palette(Blue Grey, 50);
}

a {
  text-decoration: none;
  color: palette(Blue, 700);
  &:hover, &:active {
    color: palette(Pink);
    text-decoration: underline;
  }
}

h1 {
  margin:0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: palette(Pink);
}

.Header, .Posts, .Content, #disqus_thread {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.Header h1 {
  padding-left: 0.5em;
}

.Posts ul{
  margin: 0;
  list-style: none;
  background-color: palette(White);
  li {
    margin-top: 0.5em;
  }
}

.Content {
  padding: 0.5em;
  background-color: palette(White);
}

.Footer {
  background-color: palette(Blue Grey, 50);
  text-align: right;
  padding-right: 0.5em;
}
