// http://www.google.com/design/spec/style/color.html#color-color-palette
@import 'normalize';
@import 'palette';

@font-face {
  font-family: "Noto Sans CJK Regular";
  src: url(../fonts/NotoSansCJKtc-Regular.otf) format('otf');
}

body {
  font-family: "Noto Sans CJK Regular", sans-serif;
  line-height: 1.5em;
  color: palette(Blue Grey, 900);
}

pre, code {
  background-color: palette(Blue Grey, 50);
}

pre {
  padding: 0.5em;
}

a {
  text-decoration: none;
  color: palette(Blue, 700);
  &:hover, &:active {
    color: palette(Pink);
    //text-decoration: underline;
  }
}

h1 {
  color: palette(Pink);
}


img {
  max-width: 100%;
}


//---Components -----------

.Header {
  h1 {
    margin: 0;
    padding: 0.2em;
    font-size: 1.2em;
  }
  background-color: palette(Blue Grey, 50);
}

.Posts {
  list-style: none; 
  padding: 0.2em;
  margin: 0.2em;

  li {
    margin-top: 0.2em;
    padding: 0.1em;
    &:hover {
      background-color: palette(Blue Grey, 50);
    }
  }
}

.Main {
  padding: 0.5em;
  h1 {
    color: palette(Blue);
    margin: 0;
    padding: 0.2em;
    font-size: 1.5em;
    border: 1px solid palette(Blue Grey, 50);
  }
}

#disqus_thread {
  padding: 0.2em;
}

.Footer {
  background-color: palette(Blue Grey, 50);
  text-align: right;
  p {
    margin: 0;
    padding: 0.2em;
  }
}


//---Layout -------

.Wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Main {
  flex: 1;
}




